<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: #cafdff;
    padding: 1rem;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: black;
}

.subheader {
    font-size: 36px;
    color: #555555;
    margin: 16px 0 25px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8ps 16px;
    font-size: 24px;;
}

button:hover {
    background-color: #00a3a8;
    cursor: pointer;
}


a {
    color: black;
    font-size: 24px;
    font-weight: bold;
}


.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.header-content {
    max-width: 1300px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#about,
#discord, 
#contact,
footer {
    padding: 48px 0;
    
}


.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;;
}

/*

About Section

*/

#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;

}


.section-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 24px;
}

.about-image {
    width: 40%;
}

.section--wrapper {
    width: 60%;
    padding: 0 24px;
}

img {
    width: 100%;
}

.section--text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: center;
    color: #333333;
}
/*

Discord  Section

*/

#discord {
    padding: 48px 0;
    background-color: #cefeff;
    text-align: center;
}


.discord-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 24px;
}


/*

Contact  Section

*/

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20x;
    padding: 12px;
}


/*

footer  Section

*/

footer {
    background: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    max-width: 480px;
    margin-bottom: 12px;
}

.footer_links {
    margin-bottom: 32px;;
}

.footer_link {
    padding: 0 16px;

}


/* SMALL PHONES, TABLEST, LARGE SMARTPHONES */
@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }

    .header-content {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-disription--button {
        max-width: 240px;
    }
        

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }


    ul {
        display: none;
    }

    .section-content {
        flex-direction: column;
    }

    .section--wrapper {
        width: 100%;
        }

    .about-image {
        width: 100%;
    }

    #discord .section-content {
        flex-direction: column-reverse;
    }

    footer {
    padding: 48px 24px;
    }

    .footer_logo {
        max-width: 360px;
    }

    .footer_link {
        padding: 0 8px;
        font-size: 18px;
    }

    .footer-links {
        margin-bottom: 24px;
    }

}